<div class="container">
  <div class="row">
    <div class="col text-center mt-5">
      <img
        src="img/test.jpg"
        alt=""
        class="img-thumbnail w-25 h-75 rounded-circle"
      />
      <h1>Joevano Alfeus Pangangkat</h1>
      <p class="lead"><b class="text-danger">WIBU</b> Web Developer</p>
    </div>
  </div>
</div>
